body {
  background-color: #f0c5c5;
  font-family: sans-serif;
  margin: 0;
  padding: 0;
}

.menu {
  padding: 24px;
  text-align: center;
  background-color: #f0e7e7;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
}

.menu a {
  padding: 8px 16px;
  text-decoration: none;
  text-transform: uppercase;
  border-radius: 30px;
  border: 2px solid #e87979;
  background-color: white;
  color: #CD5C5C;
  font-weight: bold;
  margin: 10px;
  display: inline-block;
}

.menu a.select {
  border-bottom: 2px solid red;
}

.menu a:hover {
  background-color: #CD5C5C;
  color: #f0e7e7;
}

h1, h2 {
  color: #CD5C5C;
  font-size: 45px;
  margin: 16px auto;
  border-bottom: 4px solid white;
  padding-bottom: 16px;
  text-align: center;
  width: 850px;
}

.content {
  padding: 16px;
  background-color: white;
  margin: 100px auto;
  max-width: 1000px;
  border-radius: 8px;
  text-align: center; /* Центрирование содержимого */
}

.content img {
  display: block;
  margin: 0 auto;
  border: 10px solid white; /* Добавляем белую рамку по умолчанию */
  transition: border-color 0.3s ease;
  border-radius: 15px;
  width: 100%; /* Устанавливаем ширину по умолчанию */
  max-width: 700px; /* Ограничиваем максимальный размер */
}

.content img:hover {
  border-color: #f38888; /* При наведении цвет рамки становится розовым */
}

.card {
  background-color: #E6C8F1;
  width: 350px; /* Уменьшаем размер карточки */
  padding: 16px;
  display: flex;
  gap: 16px;
  flex-direction: row; /* Выравнивание фотографий горизонтально */
  margin: 24px auto;
}

.card .image {
  flex: 1;
}

.card .text {
  flex: 2;
}

.card .image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

footer {
  text-align: left;
  padding: 20px;
  font-size: 14px;
  color: #555;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #f0e7e7;
}

@media (min-width: 601px) and (max-width: 2000px) {
  .content {
      display: flex;
      flex-direction: column;
      justify-content: center;
      gap: 24px;
  }
}